#set ($repoDivPrefix = "mercurial.repo.")

#macro (repoRow $repo $rowbgcolor $checkboxType)
    <tr bgcolor="$rowbgcolor">

        <td>
          <div name="$checkboxType">
            <input type="checkbox" name="repo_$repo.getId()">
          </div>
        </td>

        <td valign=top>
            <b>$textutils.htmlEncode( $repo.getDisplayName() )</b>
            #if ($repo.isSubrepos()) <br> $i18n.getText("mercurial.repository.subrepos") #end
        </td>

        #if ($repo.isActive())
        <td valign="top" bgcolor="#33ff00">
          $i18n.getText("admin.common.words.active")
        </td>
        #else
        <td valign="top" bgcolor="#ff3300">
          <b>$i18n.getText("admin.common.words.inactive")<b>
        </td>
        #end
        <td valign=top>
            <a href="#" onclick="toggle('$repoDivPrefix$repo.getId()'); return false;">Show/Hide</a>
    <div id="$repoDivPrefix$repo.getId()" style="display: none;">
        #if ($repo.isActive() == false) <b>$i18n.getText("admin.common.words.details")</b>: ${textutils.htmlEncode( $repo.getInactiveMessage() )} <br>#end
        <b>$i18n.getText("mercurial.repository.uuid")</b>: $textutils.htmlEncode( $repo.getRepositoryUUID() )<br>
        <b>$i18n.getText("mercurial.repository.root")</b>: $textutils.htmlEncode( $repo.getRoot() )<br>
        <b>$i18n.getText("mercurial.repository.clonedir")</b>: $textutils.htmlEncode( $repo.getClonedir() )<br>
        <b>$i18n.getText("mercurial.repository.releasenotesemail")</b>: $textutils.htmlEncode( $repo.getReleasenotesemail() )
        #if ($repo.getViewLinkFormat())
          #if ($repo.getViewLinkFormat().getChangesetFormat())
          <br><b>$i18n.getText("mercurial.linkformat.changeset")</b>: $textutils.htmlEncode( $repo.getViewLinkFormat().getChangesetFormat() )
          #end
          #if ($repo.getViewLinkFormat().getFileModifiedFormat())
          <br><b>$i18n.getText("mercurial.linkformat.file.modified")</b>: $textutils.htmlEncode( $repo.getViewLinkFormat().getFileModifiedFormat() )
          #end
        #end
    </div>
        </td>

        <td valign=top align=left>
            <a href="UpdateMercurialRepository!default.jspa?repoId=$repo.getId()">$i18n.getText("common.words.edit")</a>
            #if (!$repo.isActive())
            | <a href="ActivateMercurialRepository.jspa?repoId=$repo.getId()">$i18n.getText("admin.common.words.activate")</a>
            #else
            | <a href="DeactivateMercurialRepository.jspa?repoId=$repo.getId()">$i18n.getText("admin.common.words.deactivate")</a>
            #end
            | <a href="DeleteMercurialRepository!default.jspa?repoId=$repo.getId()">$i18n.getText("common.words.delete")</a>
            #if ($repo.isActive())
            ## TODO encode URL
            <br><a href="${baseurl}/rest/ct/1.0/reports/release.html?repo=$repo.getDisplayName()&start=PREVIOUS&end=LATEST">$i18n.getText("common.concepts.releasenotes")</a>
            | <a href="#" class="repoReleaseNotePopup">New Release Notes</a>
            #end

        </td>
    </tr>
#end

#macro (writeMultiRepoDetails $repo)
    <a href="#" onclick="toggle('$repoDivPrefix$repo.getId()'); return false;">Show/Hide</a>
    <div id="$repoDivPrefix$repo.getId()" style="display: none;">
    <b>$i18n.getText("mercurial.repository.command")</b>: $textutils.htmlEncode( $repo.getSubreposcmd() )<br>
    <b>$i18n.getText("mercurial.repository.root.parent")</b>: $textutils.htmlEncode( $repo.getRoot() )<br>
    <b>$i18n.getText("mercurial.repository.clonedir.parent")</b>: $textutils.htmlEncode( $repo.getClonedir() )
    #if ($repo.getViewLinkFormat())
      #if ($repo.getViewLinkFormat().getChangesetFormat())
      <br><b>$i18n.getText("mercurial.linkformat.changeset")</b>: $textutils.htmlEncode( $repo.getViewLinkFormat().getChangesetFormat() )
      #end
      #if ($repo.getViewLinkFormat().getFileModifiedFormat())
      <br><b>$i18n.getText("mercurial.linkformat.file.modified")</b>: $textutils.htmlEncode( $repo.getViewLinkFormat().getFileModifiedFormat() )
      #end
    #end
    </div>
#end

<html>
  <head>
    <title>$i18n.getText("mercurial.repositories")</title>
    <meta name="decorator" content="admin" />
    
    <script language="javascript">

      function setInactiveCheckboxes(currentobj) {
        var value = currentobj.checked
        var checkboxes = document.getElementsByName('checkboxInactive')
        for (var i=0; i<checkboxes.length; i++) {
          var div = checkboxes[i];
          div.childNodes[1].checked = value;
        }
      }

      function setActiveCheckboxes(currentobj) {
        var value = currentobj.checked
        var checkboxes = document.getElementsByName('checkboxActive')
        for (var i=0; i<checkboxes.length; i++) {
          var div = checkboxes[i];
          div.childNodes[1].checked = value;
        }
      }

      // Create a string parameter of all the checked repository ids separated
      // by commas
      function addParam(currentobj, boxName) {
        var param = "";                                           
        var checkboxes = document.getElementsByName(boxName)
        for (var i=0; i<checkboxes.length; i++) {
          var div = checkboxes[i];
          if (div.childNodes[1].checked == true) {
            param = param + div.childNodes[1].name + ",";
          }
        }
        // TODO trim the final comma
        if (param != "") {
          param = param.substring(0, param.length-1);
        }
        var newurl = currentobj.href + "?repoids=" + param;
        window.location.href = newurl;
        // Tell the href not to use the default
        return false;
      }

      function toggle(idToHide) {
        console.log("Running this mess");
        var element = document.getElementById(idToHide);
        if(element.style.display == 'none') {
           element.style.display = '';
        } else {
           element.style.display = 'none';
        }
      }
   </script>
  </head>

  <body>
#if ($action.hasPermissions())
<table class="grid maxWidth">
    <tbody>
    <tr>
        <td class="jiraformheader">
            <h3 class="formtitle">$i18n.getText("mercurial.repositories")</h3>
        </td>
    </tr>
    <tr>
        <td class="jiraformbody">
            <p>$i18n.getText("mercurial.repositories.description")</p>

            <img width="8" height="8" border="0" src="/jira/images/icons/bullet_creme.gif"/>
            <a href="AddMercurialRepository!default.jspa"><b>$i18n.getText("mercurial.add.repository")</b></a>
            <br/>

            <img width="8" height="8" border="0" src="/jira/images/icons/bullet_creme.gif"/>
            <a href="AddMercurialSubrepositories!default.jspa"><b>$i18n.getText("mercurial.add.subrepositories")</b></a>
            <br/>

            <img width="8" height="8" border="0" src="/jira/images/icons/bullet_creme.gif"/>
            <a href="ActivateMercurialRepository!all.jspa"><b>$i18n.getText("mercurial.repository.activate.all")</b></a>
            <br/>

            <img width="8" height="8" border="0" src="/jira/images/icons/bullet_creme.gif"/>
            <a href="DeactivateMercurialRepository!all.jspa"><b>$i18n.getText("mercurial.repository.deactivate.all")</b></a>
            <br/>

            <table class="nogrid">
                <tr>
                    <td>
                        #set ($numactive = $action.getActiveRepositories().size())
                        #set ($numinactive = $action.getInactiveRepositories().size())
                        #set ($numsubrepos = $action.getSubrepositories().size())
                    ## sic
                        #set ($numtotal = $numactive + $numinactive)
                        $i18n.getText("mercurial.number.of.repositories"):
                        $numtotal
                    </td>

                    <td>
                        <a href="#inactive">$i18n.getText("admin.common.words.inactive")</a>: $numinactive
                    </td>

                    <td>
                        <a href="#active">$i18n.getText("admin.common.words.active")</a>: $numactive
                    </td>

                    <td>
                        <a href="#subrepositories">$i18n.getText("mercurial.words.subrepositories")</a>: $numsubrepos
                    </td>

                </tr>
            </table>

        </td>
    </tr>
    </tbody>
</table>

<p>
    <a name="active"></a>
<h3 style="display: inline;">$i18n.getText("admin.common.words.active")&nbsp;$i18n.getText("mercurial.repositories")</h3>&nbsp;<a href="#" onclick="toggle('mercurial.repos.active'); return false;">Show/Hide ($numactive repositories)</a>
<div id="mercurial.repos.active">
    <table align=center bgcolor="bbbbbb" border="0" cellpadding="0" cellspacing="0" width=90%>
        <tr>
            <td>
                <table border="0" cellpadding="3" cellspacing="1" width="100%" class="grid">
                    #if ($numactive == 0)
                        <tr bgcolor="#f0f0f0">
                            <td valign=top>
                                $i18n.getText("common.words.none")
                            </td>
                        </tr>
                    #else
                        <tr bgcolor="#f0f0f0">
                            <td class="colHeaderLink" width="1%">
                                <input type="checkbox" name="all" onclick="setActiveCheckboxes(this)"
                            </td>
                            <td class="colHeaderLink" width="150px">
                                <b>$i18n.getText("common.words.name")</b>
                            </td>
                            <td class="colHeaderLink" width="40px">
                                <b>$i18n.getText("mercurial.repository.status")</b>
                            </td>
                            <td class="colHeaderLink">
                                <b>$i18n.getText("admin.common.words.details")</b>
                            </td>
                            <td class="colHeaderLink" width="200px">
                                <b>$i18n.getText("common.words.operations")</b>
                                <br>
                                <a href="BulkChangeMercurialRepositories!deactivate.jspa" onclick="addParam(this, 'checkboxActive'); return false;">$i18n.getText("admin.common.words.deactivate") $i18n.getText("mercurial.repository.all.selected")</a>
                                <br>
                                <a href="BulkChangeMercurialRepositories!delete.jspa" onclick="addParam(this, 'checkboxActive'); return false;">$i18n.getText("common.words.delete") $i18n.getText("mercurial.repository.all.selected")</a>
                            </td>
                        </tr>
                    #end

                    #foreach ($repo in $action.getActiveRepositories())
                        #if ($velocityCount % 2 == 1)
                            #set ($rowbgcolor = "ffffff")
                        #else
                            #set ($rowbgcolor = "fffff0")
                        #end
                        #repoRow($repo $rowbgcolor "checkboxActive")
                    #end
                    #if ($numtotal == 0)
                        <tr>
                            <td colspan=5 bgcolor=ffffff>
                                $i18n.getText("mercurial.no.repositories.configured")
                            </td>
                        </tr>
                    #end
                </table>
            </td></tr></table>
</div>
</p>
<p>
    <a name="inactive"></a>
<h3 style="display: inline">$i18n.getText("admin.common.words.inactive")&nbsp;$i18n.getText("common.words.or")&nbsp;$i18n.getText("mercurial.words.empty")&nbsp;$i18n.getText("mercurial.repositories")</h3>&nbsp;<a href="#" onclick="toggle('mercurial.repos.inactive'); return false;">Show/Hide ($numinactive repositories)</a>


## TODO refactor this into a macro
<div id="mercurial.repos.inactive">
    <table align=center bgcolor="bbbbbb" border="0" cellpadding="0" cellspacing="0" width=90%>
        <tr>
            <td>
                <table name="tblinactive" border="0" cellpadding="3" cellspacing="1" width="100%" class="grid">
                    #if ($numinactive == 0)
                        <tr bgcolor="#f0f0f0">
                            <td valign=top>
                                $i18n.getText("common.words.none")
                            </td>
                        </tr>
                    #else
                        <tr bgcolor="#f0f0f0">
                            <td class="colHeaderLink" width="1%">
                                <input type="checkbox" name="all" onclick="setInactiveCheckboxes(this)"/>
                            </td>
                            <td class="colHeaderLink" width="150px">
                                <b>$i18n.getText("common.words.name")</b>
                            </td>
                            <td class="colHeaderLink" width="40px">
                                <b>$i18n.getText("mercurial.repository.status")</b>
                            </td>
                            <td class="colHeaderLink">
                                <b>$i18n.getText("admin.common.words.details")</b>
                            </td>
                            <td class="colHeaderLink" width="200px">
                                <b>$i18n.getText("common.words.operations")</b>
                                <br>
                                <a href="BulkChangeMercurialRepositories!activate.jspa" onclick="addParam(this, 'checkboxInactive'); return false;">$i18n.getText("admin.common.words.activate") $i18n.getText("mercurial.repository.all.selected")</a>
                                <br>
                                <a href="BulkChangeMercurialRepositories!reindex.jspa" onclick="addParam(this, 'checkboxInactive'); return false;">$i18n.getText("admin.indexing.reindex") $i18n.getText("mercurial.repository.all.selected")</a>
                                <br>
                                <a href="BulkChangeMercurialRepositories!delete.jspa" onclick="addParam(this, 'checkboxInactive'); return false;">$i18n.getText("common.words.delete") $i18n.getText("mercurial.repository.all.selected")</a>
                            </td>
                        </tr>
                    #end
                    #foreach ($repo in $action.getInactiveRepositories())
                        #if ($velocityCount % 2 == 1)
                            #set ($rowbgcolor = "ffffff")
                        #else
                            #set ($rowbgcolor = "fffff0")
                        #end
                        #repoRow($repo $rowbgcolor "checkboxInactive")
                    #end
                    #if ($numtotal == 0)
                        <tr>
                            <td colspan=5 bgcolor=ffffff>
                                $i18n.getText("mercurial.no.repositories.configured")
                            </td>
                        </tr>
                    #end
                </table>
            </td></tr></table>
</div>
</p>
<p>
    <a name="subrepositories"></a>
<h3 style="display: inline">$i18n.getText("mercurial.words.subrepositories")</h3>&nbsp;<a href="#" onclick="toggle('mercurial.repos.subrepos'); return false;">Show/Hide ($numsubrepos repositories)</a>
<div id="mercurial.repos.subrepos">
    <table align=center bgcolor="bbbbbb" border="0" cellpadding="0" cellspacing="0" width=90%>
        <tr>
            <td>
                <table border="0" cellpadding="3" cellspacing="1" width="100%" class="grid">
                    #if ($numsubrepos == 0)
                        <tr bgcolor="#f0f0f0">
                            <td valign=top>
                                $i18n.getText("common.words.none")
                            </td>
                        </tr>
                    #else
                        <tr bgcolor="#f0f0f0">
                            <td class="colHeaderLink" width="150px">
                                <b>$i18n.getText("common.words.name")</b>
                            </td>
                            <td class="colHeaderLink">
                                <b>$i18n.getText("admin.common.words.details")</b>
                            </td>
                            <td class="colHeaderLink" width="200px">
                                <b>$i18n.getText("common.words.operations")</b>
                            </td>
                        </tr>
                    #end

                    #foreach ($repo in $action.getSubrepositories())
                        #if ($velocityCount % 2 == 1)
                            #set ($rowbgcolor = "ffffff")
                        #else
                            #set ($rowbgcolor = "fffff0")
                        #end
                        <tr bgcolor="$rowbgcolor">

                            <td valign=top>
                                <b>$textutils.htmlEncode( $repo.getDisplayName() )</b>
                            </td>

                            <td valign=top>
                                #writeMultiRepoDetails($repo)
                            </td>

                            <td valign=top align=left>
                                <a href="DeleteMercurialRepository!default.jspa?repoId=$repo.getId()">$i18n.getText("common.words.delete")</a>
                            </td>
                        </tr>
                    #end
                    #if ($numtotal == 0)
                        <tr>
                            <td colspan=5 bgcolor=ffffff>
                                $i18n.getText("mercurial.no.repositories.configured")
                            </td>
                        </tr>
                    #end
                </table>
            </td></tr></table>
</div>
</p>
#else
	#parse("templates/plugins/mercurial/configuration/no-privilege.vm")
#end
</body>
</html>
